:root{
    --color-black: #0c2831;
    --color-white: #ffffff;
    --color-yellow: #fcd833;
    --color-orange: #ed7633;
    --color-blue: #116fbf;
    --color-green: #5eb855;
    --color-dark-green: #006400;
    --full-width: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-black);
}

body::after {
    content: "";
    background-color: #004981;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.5;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

a{
    text-decoration: none;
}

.bg {
    background-image: url(../images/background-2.jpg);
    background-repeat: no-repeat;
    background-color: #004981;
    background-size: cover;
    background-position: center center;
}

.bg::after {
    content: "";
    background-color: #004981;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.5;
}

.text-red {
    color: red;
}
.w-100 {
    width: var( --full-width )
}

header{
    background-color: var(--color-white);
}

header .header-phone{
    color: var(--color-black);
}
header .header-phone svg {
    margin-top: -2px;
}

/*
Search Tav navigation
*/
#travelsearch-tab button {
    background: var(--color-black);
    border: 0;
    color: var(--color-white);
}

#travelsearch-tab button.active{
    background-color: var(--color-orange);
    position: relative;
}

#travelsearch-tab button.active:after {
    content: "";
    position: absolute;
    bottom: -15px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 15px 0 15px;
    border-color: #ed7733 transparent transparent transparent;
    left: 15px;
    transform: translate(50%, 0);
}

.searchtab-right{
    color: var(--color-white);
}

/*
* Tab content
*/
.flight-search-title {
    color: var(--color-white);
    text-shadow: 1px 2px 0px var(--color-black);
}

/*
Flight search form
*/
.flight-search label,
.modal-footer label{
    color: var(--color-white);
}

.modal-footer .searchBtn,
.flight-search .searchBtn{
    border: 0;
    background-color: var(--color-yellow);
    color: var(--color-black);
}

.modal-footer .searchBtn:hover,
.flight-search .searchBtn:hover{
    background-color: var(--color-blue);
    color: var(--color-white);
}

.modal-footer .searchBtn svg,
.flight-search .searchBtn svg {
    margin-top: -4px;
    margin-right: 5px;
}

.select2-container--default .select2-selection--single {
    height: 50px;
    padding: 10px 15px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    margin-top: 10px;
    margin-left: -15px;
    border-width: 7px 5px 0 5px;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b{
    margin-top: 10px;
    margin-left: -15px;
    border-width: 0px 5px 7px 5px;
}

/*
Top Search Bar
*/

#top-search input {
    cursor: pointer;
}

#top-search button.btn-info {
    background-color: var(--color-orange);
    border: 0;
    color: var(--color-white);
}

#top-search button.btn-info svg {
    margin-top: -4px;
}

/*
Offer Page
*/

#offer-content {
    font-weight: 700;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #0009;
}

#offer-header {
    background-color: var(--color-green);
    border-radius: 5px 5px 0px 0;
}

#offer-caption {
    background-color: var(--color-white);
    color: var(--color-dark-green);
}

#offer-caption h1 {
    font-size: 2.2rem;
    background-image: url('../images/cap-arrow.png');
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
}

#offer-inner {
    background-color: var(--color-white);
    border-radius: 0 0 5px 5px;
}

#offer-call-avatar a {
    background-image: url('../images/call-circle.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    display: block;
    text-indent: -999999px;
    min-height: 80px;
}

#offer-call-avatar .info-text {
    margin-left: 5%;
    transform: translate(0, 50%);
}

#offer-call-avatar .info-text h1 {
    font-size: 1.5rem;
    margin-bottom: 0;
}

.offer-call-features li {
    color: var(--color-green);
    position: relative;
    list-style: none;
    margin: 0 0 16px 1.1225em;
    padding: 0;
}
.offer-call-features li:before {
    color: var(--color-green);
    content: "\2713";
    display: inline-block;
    font-size: 1em;
    left: -1.1225em;
    position: absolute;
    top: 0;
}

#offer-form-above {
    color: var(--color-green);
}

.offer-input-base {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    vertical-align: top;
    min-width: 0;
    margin: 0;
    padding: 0;
    border: 0;
}
.offer-input-base > label {
    z-index: 1;
    transform: translate(14px, 20px) scale(1);
    transform-origin: top left;
    pointer-events: none;
    transition: color 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms,transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
    top: 0;
    left: 0;
    position: absolute;
    display: block;
    color: rgba(0, 0, 0, 0.54);
    padding: 0;
    font-size: 1rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.00938em;
    margin-bottom: 0.5rem;
}
.offer-input-base > label.focused {
    transform: translate(14px, -6px) scale(0.75);
}
.offer-input-base > .offer-input-container {
    position: relative;
    border-radius: 4px;
    color: rgba(0, 0, 0, 0.87);
    cursor: text;
    display: inline-flex;
    font-size: 1rem;
    box-sizing: border-box;
    align-items: center;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.1876em;
    letter-spacing: 0.00938em;
}
.offer-input-container > input {
    font: inherit;
    color: currentColor;
    width: 100%;
    border: 0;
    height: 1.1876em;
    margin: 0;
    display: block;
    padding: 6px 0 7px;
    min-width: 0;
    background: none;
    box-sizing: content-box;
    animation-name: mui-auto-fill-cancel;
    letter-spacing: inherit;
    animation-duration: 10ms;
    -webkit-tap-highlight-color: transparent;
    padding: 18.5px 14px;
    cursor: pointer;
    overflow: visible;
    outline: none;
}

button.btn.call-now {
    color: var(--color-white);
    background: #5eb855;
}

.field{
    position: relative;
}

.field label {
    position: absolute;
    color: #707070;
    font-size: 14px;
    font-weight: 100;
    left: 18px;
    top: 50%;
    transform: translate(0px, -50%);
}

.field.focused label {
    top: 0;
    background: var(--color-white);
    padding: 2px 10px;
}

.field.focused input {
    border-color: transparent;
    outline: 2px solid var(--color-blue);
}

.offer-input-container > fieldset {
    top: -5px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0 8px;
    overflow: hidden;
    position: absolute;
    border-radius: 4px;
    pointer-events: none;
    border: 1px solid rgba(0, 0, 0, 0.23);
    min-width: 0;
    padding: 0;
}
.offer-input-container > fieldset > legend {
    width: auto;
    height: 11px;
    display: block;
    padding: 0;
    font-size: 0.75em;
    max-width: 0.01px;
    text-align: left;
    transition: max-width 50ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
    visibility: hidden;
    margin-bottom: 0.5rem;
    line-height: inherit;
    color: inherit;
    white-space: normal;
}
.offer-input-container > fieldset > legend.focused {
    max-width: 1000px;
    transition: max-width 0.1s cubic-bezier(0, 0, 0.2, 1) 50ms;
}
.offer-input-container > fieldset > legend > span {
    display: inline-block;
    padding: auto 5px;
}

.offer-input-base > label + .offer-input-container input::-webkit-input-placeholder,
.offer-input-base > label + .offer-input-container input::-moz-placeholder,
.offer-input-base > label + .offer-input-container input::-ms-input-placeholder {
	opacity: 0;
}
.offer-input-base > label + .offer-input-container input:focus::-webkit-input-placeholder,
.offer-input-base > label + .offer-input-container input:focus::-moz-placeholder,
.offer-input-base > label + .offer-input-container input:focus::-ms-input-placeholder {
	opacity: 0.42;
}

/*
Footer
*/
section#offer-page {
    padding-bottom: 100px;
}
.search-updater {
    min-width: 100%;
}
.footer-number {
    position: fixed;
    left: 0;
    right: 0;
    background: #fff;
    bottom: 0;
    border-top: 2px solid var(--color-green);
}
.footer-number a {
    color: var(--color-green);
}

.footer-number a.footer-close {
    position: absolute;
    left: 15px;
    top: 50%;
    color: var(--color-black);
    transform: translate(0, -50%);
}

.floting-call-button {
    position: fixed;
    right: 14px;
    bottom: 14px;
}

.floting-call-button a {
    height: 50px;
    width: 50px;
    background: var(--color-green);
    color: var(--color-white);
    padding: 20px;
    border-radius: 50%;
    display: block;
    text-align: center;
    line-height: 25px;
    position: relative;
}

.floting-call-button a:before {
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--color-green);
    animation: jumper 1.8s ease-out 0s infinite;
    -webkit-animation: jumper 1.8s ease-out 0s infinite;
    border-radius: 50%;
    z-index: -1;
    position: absolute;
}

.floting-call-button svg {
    width: 22px;
    height: 22px;
    transform: rotate(-90deg) translate(9px, -5px);
}

/*
Popup Bar
*/

.select2-container .select2-dropdown{
    z-index: 1056;
}
#collectLeadModal .modal-body,
#flightSearchModal .modal-body {
    padding: 2rem;
}
#collectLeadModal .modal-footer .btn-lg,
#flightSearchModal .modal-footer .btn-lg{
    width: var( --full-width );
}
#collectLeadModal .modal-header .modal-header--right{
    width: 10%;
    text-align: right;
}
#collectLeadModal .modal-header .modal-header--left{
    width: 90%;
}


/*
Responsive style
*/
@media screen and (max-width:768px) {

    .bg{
        background-size: auto;
    }

    .header-phone span.number {
        display: none;
    }
    #offer-call-avatar a {
        background-position: center, center;
    }
    ul.feature-list-mobile {
        float: left;
    }
    #offer-header{
        padding: 1.5rem 0
    }
    #offer-caption{
        padding-top: 1.5rem;
    }
    .flight-search .searchBtn{
        width: 100%;
    }
    #collectLeadModal .modal-title{
        font-size: 1.1rem;
        margin-top: 0.6rem;
    }
    
}


/*
Animation
*/
@keyframes jumper {
	0% {
		opacity: 0;
		transform: scale(1);
	}
	5% {
		opacity: 1;
	}
	to {
		transform: scale(1.8);
		opacity: 0;
	}
}
