:root{
    --color-black: #0c2831;
    --color-white: #ffffff;
    --color-yellow: #fcd833;
    --color-orange: #ed7633;
    --color-blue: #116fbf;
    --color-green: #5eb855;
    --color-dark-green: #006400;
}

body {
    background-image: url(../images/background-2.jpg);
    background-repeat: no-repeat;
    background-color: #004981;
    background-size: cover;
    font-size: 16px;
}
body::after {
    content: "";
    background-color: #004981;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.5;
}
.text-red {
    color: red;
}

#top-search input {
    cursor: pointer;
}

#offer-content {
    border: 2px dashed var(--color-green);
    font-weight: 700;
}

#offer-header {
    background-color: var(--color-green);
}

#offer-caption {
    background-color: var(--color-white);
    color: var(--color-dark-green);
}

#offer-caption h1 {
    font-size: 2.2rem;
    background-image: url('../images/cap-arrow.png');
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
}

#offer-inner {
    background-color: var(--color-white);
}

#offer-call-avatar {
    height: 100px;
    background-image: url('../images/call.png');
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
}
#offer-call-avatar .info-text {
    margin-left: 80px;
    font-weight: 700;
}
#offer-call-avatar .info-text h1 {
    font-size: 1.5625rem;
}

.offer-call-features li {
    color: var(--color-green);
    position: relative;
    list-style: none;
    margin: 0 0 16px 1.1225em;
    padding: 0;
}
.offer-call-features li:before {
    color: var(--color-green);
    content: "\2713";
    display: inline-block;
    font-size: 1em;
    left: -1.1225em;
    position: absolute;
    top: 0;
}

#offer-form-above {
    color: var(--color-green);
}

.offer-input-base {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    vertical-align: top;
    min-width: 0;
    margin: 0;
    padding: 0;
    border: 0;
}
.offer-input-base > label {
    z-index: 1;
    transform: translate(14px, 20px) scale(1);
    transform-origin: top left;
    pointer-events: none;
    transition: color 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms,transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
    top: 0;
    left: 0;
    position: absolute;
    display: block;
    color: rgba(0, 0, 0, 0.54);
    padding: 0;
    font-size: 1rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.00938em;
    margin-bottom: 0.5rem;
}
.offer-input-base > label.focused {
    transform: translate(14px, -6px) scale(0.75);
}
.offer-input-base > .offer-input-container {
    position: relative;
    border-radius: 4px;
    color: rgba(0, 0, 0, 0.87);
    cursor: text;
    display: inline-flex;
    font-size: 1rem;
    box-sizing: border-box;
    align-items: center;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.1876em;
    letter-spacing: 0.00938em;
}
.offer-input-container > input {
    font: inherit;
    color: currentColor;
    width: 100%;
    border: 0;
    height: 1.1876em;
    margin: 0;
    display: block;
    padding: 6px 0 7px;
    min-width: 0;
    background: none;
    box-sizing: content-box;
    animation-name: mui-auto-fill-cancel;
    letter-spacing: inherit;
    animation-duration: 10ms;
    -webkit-tap-highlight-color: transparent;
    padding: 18.5px 14px;
    cursor: pointer;
    overflow: visible;
    outline: none;
}
.offer-input-container > fieldset {
    top: -5px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0 8px;
    overflow: hidden;
    position: absolute;
    border-radius: 4px;
    pointer-events: none;
    border: 1px solid rgba(0, 0, 0, 0.23);
    min-width: 0;
    padding: 0;
}
.offer-input-container > fieldset > legend {
    width: auto;
    height: 11px;
    display: block;
    padding: 0;
    font-size: 0.75em;
    max-width: 0.01px;
    text-align: left;
    transition: max-width 50ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
    visibility: hidden;
    margin-bottom: 0.5rem;
    line-height: inherit;
    color: inherit;
    white-space: normal;
}
.offer-input-container > fieldset > legend.focused {
    max-width: 1000px;
    transition: max-width 0.1s cubic-bezier(0, 0, 0.2, 1) 50ms;
}
.offer-input-container > fieldset > legend > span {
    display: inline-block;
    padding: auto 5px;
}

.offer-input-base > label + .offer-input-container input::-webkit-input-placeholder,
.offer-input-base > label + .offer-input-container input::-moz-placeholder,
.offer-input-base > label + .offer-input-container input::-ms-input-placeholder {
	opacity: 0;
}
.offer-input-base > label + .offer-input-container input:focus::-webkit-input-placeholder,
.offer-input-base > label + .offer-input-container input:focus::-moz-placeholder,
.offer-input-base > label + .offer-input-container input:focus::-ms-input-placeholder {
	opacity: 0.42;
}
