:root{
    --color-black: #0c2831;
    --color-white: #ffffff;
    --color-yellow: #fcd833;
    --color-orange: #ed7633;
    --color-blue: #116fbf;
    --full-width: 100%;
}

.lead-modal .modal-dialog,
.flight-modal .modal-dialog {
    max-width: 50rem;
    margin: 20rem auto;
}
.lead-modal .modal-body,
.flight-modal .modal-body {
    padding: 2rem;
}
.lead-modal .modal-footer .btn-lg,
.flight-modal .modal-footer .btn-lg{
    width: var( --full-width );
}
